@import "tailwindcss";

@theme inline {
  --color-background: #121212;
  --color-foreground: #ffffff;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

/* Hide scrollbar for a cleaner cinematic look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
